{% extends "main.html" %}

{% block content %}

    
    {% if page == 'login' %}
        <div>
            <form action="" method="post">
                {% csrf_token %}

                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username" />

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password" />

                <input type="submit" value="Login" />
            </form>

            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
    {% else %}
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register" />
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
    {% endif %}

{% endblock content %}